<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.sp.goods.mapper.SpParameterManageMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.sp.goods.entity.SpParameterManage" >
    <id column="ids" property="ids" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="VARCHAR" />
    <result column="paramter_name" property="paramterName" jdbcType="VARCHAR" />
    <result column="valuees" property="valuees" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ids, num, seq, paramter_name, valuees
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.sp.goods.entity.SpParameterManageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_parameter_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sp_parameter_manage
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_parameter_manage
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinasofti.sp.goods.entity.SpParameterManageExample" >
    delete from sp_parameter_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.sp.goods.entity.SpParameterManage" >
    insert into sp_parameter_manage (ids, num, seq, 
      paramter_name, valuees)
    values (#{ids,jdbcType=INTEGER}, #{num,jdbcType=VARCHAR}, #{seq,jdbcType=VARCHAR}, 
      #{paramterName,jdbcType=VARCHAR}, #{valuees,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.sp.goods.entity.SpParameterManage" >
    insert into sp_parameter_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ids != null" >
        ids,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="paramterName != null" >
        paramter_name,
      </if>
      <if test="valuees != null" >
        valuees,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ids != null" >
        #{ids,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="paramterName != null" >
        #{paramterName,jdbcType=VARCHAR},
      </if>
      <if test="valuees != null" >
        #{valuees,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.sp.goods.entity.SpParameterManageExample" resultType="java.lang.Integer" >
    select count(*) from sp_parameter_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sp_parameter_manage
    <set >
      <if test="record.ids != null" >
        ids = #{record.ids,jdbcType=INTEGER},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null" >
        seq = #{record.seq,jdbcType=VARCHAR},
      </if>
      <if test="record.paramterName != null" >
        paramter_name = #{record.paramterName,jdbcType=VARCHAR},
      </if>
      <if test="record.valuees != null" >
        valuees = #{record.valuees,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sp_parameter_manage
    set ids = #{record.ids,jdbcType=INTEGER},
      num = #{record.num,jdbcType=VARCHAR},
      seq = #{record.seq,jdbcType=VARCHAR},
      paramter_name = #{record.paramterName,jdbcType=VARCHAR},
      valuees = #{record.valuees,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.sp.goods.entity.SpParameterManage" >
    update sp_parameter_manage
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="paramterName != null" >
        paramter_name = #{paramterName,jdbcType=VARCHAR},
      </if>
      <if test="valuees != null" >
        valuees = #{valuees,jdbcType=VARCHAR},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.sp.goods.entity.SpParameterManage" >
    update sp_parameter_manage
    set num = #{num,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      paramter_name = #{paramterName,jdbcType=VARCHAR},
      valuees = #{valuees,jdbcType=VARCHAR}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>