<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.wxmgr.menu.mapper.WxMenuMapper" >
  <resultMap id="BaseResultMap" type="com.huateng.wxmgr.common.entity.WxMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="menukey" property="menukey" jdbcType="VARCHAR" />
    <result column="msgtype" property="msgtype" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="VARCHAR" />
    <result column="templateid" property="templateid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="accountid" property="accountid" jdbcType="VARCHAR" />
    <result column="groupID" property="groupid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, menukey, msgtype, name, orders, templateid, type, url, parentid, accountid, groupID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huateng.wxmgr.common.entity.WxMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wx_menu
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wx_menu
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huateng.wxmgr.common.entity.WxMenuExample" >
    delete from wx_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huateng.wxmgr.common.entity.WxMenu" >
    insert into wx_menu (ID, menukey, msgtype, 
      name, orders, templateid, 
      type, url, parentid, 
      accountid, groupID)
    values (#{id,jdbcType=VARCHAR}, #{menukey,jdbcType=VARCHAR}, #{msgtype,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{orders,jdbcType=VARCHAR}, #{templateid,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{accountid,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huateng.wxmgr.common.entity.WxMenu" >
    insert into wx_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menukey != null" >
        menukey,
      </if>
      <if test="msgtype != null" >
        msgtype,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="templateid != null" >
        templateid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="groupid != null" >
        groupID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menukey != null" >
        #{menukey,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null" >
        #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huateng.wxmgr.common.entity.WxMenuExample" resultType="java.lang.Integer" >
    select count(*) from wx_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wx_menu
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.menukey != null" >
        menukey = #{record.menukey,jdbcType=VARCHAR},
      </if>
      <if test="record.msgtype != null" >
        msgtype = #{record.msgtype,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=VARCHAR},
      </if>
      <if test="record.templateid != null" >
        templateid = #{record.templateid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.accountid != null" >
        accountid = #{record.accountid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupid != null" >
        groupID = #{record.groupid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wx_menu
    set ID = #{record.id,jdbcType=VARCHAR},
      menukey = #{record.menukey,jdbcType=VARCHAR},
      msgtype = #{record.msgtype,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      orders = #{record.orders,jdbcType=VARCHAR},
      templateid = #{record.templateid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=VARCHAR},
      accountid = #{record.accountid,jdbcType=VARCHAR},
      groupID = #{record.groupid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huateng.wxmgr.common.entity.WxMenu" >
    update wx_menu
    <set >
      <if test="menukey != null" >
        menukey = #{menukey,jdbcType=VARCHAR},
      </if>
      <if test="msgtype != null" >
        msgtype = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null" >
        templateid = #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupID = #{groupid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huateng.wxmgr.common.entity.WxMenu" >
    update wx_menu
    set menukey = #{menukey,jdbcType=VARCHAR},
      msgtype = #{msgtype,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=VARCHAR},
      templateid = #{templateid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=VARCHAR},
      groupID = #{groupid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>